html,body{
background-image: linear-gradient(rgb(41, 214, 245), rgb(46, 57, 212));
background-size: cover;
height: 100%;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color:rgb(204, 37, 115) !important;
}

.main_icon{
font-size: 60px;
color:white;
margin-left: 150px;
}

.login_btn{
color:white;
background-image: linear-gradient(to right, rgb(121, 199, 230) , rgb(252, 80, 200));
}

#link,#link2{
    color:yellow;
    text-decoration: underline;
}

p{
    color:white;
}
