html,body{
    background-image: linear-gradient(#b0f7fc, #ffffff);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
    }
    
    .navbar{
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
    }
 
    #subjectsTitle{
        background-color: #86b1cf;
    }

    #subjectsHeaders div, #subjectsList div{
        overflow: hidden;
    }

    #subjectsHeaders{
        background-color: #5476cb;
        color: white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
    }

    #subjectsList {
        overflow: scroll;
        overflow-x: hidden;
        height: 70vh;
        width: 100%;
    }

    #subjectsList li:first-child{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #scheduleName{
        background-color: transparent;
        border-width: 0;
        color: black;
        font-size: 1.6em;   
        font-weight: 600;
    }

    *:focus {
        outline: 0;
    }

    #searchName{
        background-color: transparent;
        color: white;
        border-width: 0;
    }

    #searchName::placeholder{
        color: white;
        
    }

    #scheduleClasses{
        overflow: scroll;
        overflow-x: hidden;
        height: 30vh;
        width: 100%;
    }
    
    #scheduleClasses .card{
        background-color: #e3f2fd;
        overflow: hidden;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); 
        border-radius: 5px;
        border-width: 0;
    }
    
    #scheduleClasses .card card{
        font-size: 11px;
        background-color: #5bc0de;
        color: white;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 7px;
        margin: 5px;
        overflow: hidden;
    }

    #scheduleClasses .card-footer{
        font-size:13px;
        color:black;
        padding-bottom: 1.2rem;
        padding-top: 0.3rem;
        max-height: 30px;
        overflow: hidden;
        text-align: center;
        background-color: rgb(255, 253, 253);
    }
    
    .table{
        font-size: 12px;
        text-align: center;
        table-layout:fixed;
        box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.2);
    }
    
    .table th{
        overflow:hidden;
    }
    
    .table td p{
        width: auto;
    }
    
    .table td p:first-of-type{
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
    }
    
    .table td p:last-of-type{
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
    }

    #classesTable tbody tr{
        cursor: pointer;
    }

    #classesTable tbody tr:hover{
        background-color: rgb(203, 248, 233);
    }
    
    #classesModal{
        position: absolute;
        padding-left: 0.5rem;
        min-width: 26rem;
        overflow: hidden;
    }

    #classesModal .input-group-text{
        background-color: #f06e9d;
        display: inline-block;
        vertical-align: middle;
        color: white;
        border-width:0;
        width: 100px;
    }

    #classesModal .top-input-text{
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;  
    }

    #classesModal .br-input{
        border-top-right-radius: 0;  
    }

    #classesModal .bl-input{
        border-top-left-radius: 0;  
    }

    #daySearch button{
        width: 30px;
        vertical-align: middle;
        border-radius: 20px;
    }

    /*Css source for table:
        https://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody
    */

    #classesTable thead, #classesTable tbody, #classesTable tr, #classesTable th, #classesTable td{
        display: block;
    }

    #classesTable thead tr{
        width: 97%;
        width: -webkit-calc(100% - 10px);
        width:    -moz-calc(100% - 10px);
        width:         calc(100% - 10px);
    }

    #classesTable tr:after { 
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    #classesTable tbody{
        overflow: scroll;
        overflow-x: hidden;
        max-height: 25vh;
    }

    #classesTable tbody td, #classesTable thead th {
        width: 16.66%;  
        float: left;
        border-top-width: 0;
        border-left-width: 0;
    }

    #classesTable tbody tr td:nth-child(4){
        overflow: hidden;
        
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
       /* */
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: rgb(240, 240, 240);
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgb(211, 211, 211);  
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(180, 180, 180);  
    }

 